<h1>Listing pastes</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Title</th>
    <th>Language</th>
  </tr>

<% for paste in @pastes %>
  <tr>
    <td><%=h paste.content %></td>
    <td><%=h paste.title %></td>
    <td><%=h paste.language_id %></td>
    <td><%= link_to 'Show', paste %></td>
    <td><%= link_to 'Edit', edit_paste_path(paste) %></td>
    <td><%= link_to 'Destroy', paste, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New paste', new_paste_path %>
