<p>
  <b>Content:</b>
  <%= Uv.parse(@paste.content, "xhtml", @paste.language.name, "true", "sunburst") %>
</p>

<p>
  <b>Title:</b>
  <%=h @paste.title %>
</p>

<p>
  <b>Language:</b>
  <%=h @paste.language_id %>
</p>


<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>
