!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    = javascript_include_tag :all
    = render_bundled_stylesheet_link_tags_for_dev
 
    = yield :head
    
  %body.mbx
    #doc3{:class => "pastebin yui-t5 #{params[:controller]} #{params[:action]}"}
      #hd
        %h1
          = link_to "Pastebin", pastes_path
      #bd.bd
        #yui-main
          .yui-b
            .main_content
              = yield :layout
        .yui-b
          .sidebar
            = link_to "New Paste", new_paste_path, :class => "new_paste"
            = yield :sidebar
    
    = render :partial => "shared/bottom_javascript"
